section{
    height: auto;
}
.inicio{
    height: 100vh;
}
header{
    height: auto;
    background-color: rgb(0, 0, 0);
}
h1{
    display: flex;
    color: rgb(219, 253, 203);
    font-size: 300%;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
  position: relative;
}
h1:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #00ca2c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  h1:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }